
/* font family, size and color */
@import url('https://fonts.googleapis.com/css2?family=Exo&family=Josefin+Slab&family=Julius+Sans+One&family=Raleway:wght@500&display=swap');

h1, h2, h3, h4, a {
  font-family: 'Julius Sans One';
  color: white;
}
h1 {
  font-size: 36px;
  text-align: center;
}

h2 {
  font-size: 17px;
}

h3 {
  font-size: 14px;
}

p {
  font-size: 13px;
  font-family: "exo";
  color: white;
}

form label {
  font-size: 13px;
  font-family: 'Julius Sans One';
  font-weight: bold;
  color: white;
}

form input {
  display: block;
  width: 70%;
  margin: 10px auto;
  padding: 5px;
  font-family: 'Raleway';
  font-size: 12px;

}

.dark-font {
  color: black;
}
.light-font {
  color: white;
}

/* display visibility manipulation */
.hidden {
  display: none;
}
.hidden-id {
  display: none;
}

/* background */
.bg-start-image {
  background-image: url(images/curved-library-1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-search-image {
  background-image: url(images/dark-library.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}


/* button styling */
button, a, #submit-button {
  font-family: 'Raleway';
  font-size: 12px;
  border: solid 2px black;
  border-radius: 5px;
  color: white;
  background-color: purple;
  padding: 4px;
  cursor: pointer;
  text-decoration: none;
}

a:hover, button:hover {
  color: black;
}

/* flexbox styling */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 500px;
  margin: 50px auto;
  text-align: center;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
}

.item {
  margin: 10px 0 10px 0;
  padding: 10px;
  text-align: center;
  flex: 0 90%;
}

.extra-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.shop-results {
  display: flex;
  justify-content: center;
}

.shop-item {
  margin: 10px 0 10px 0;
  padding: 10px 0 10px 0;
  text-align: center;
}


/* bordered display boxes */
.bg-box {
  border: solid;
  border-color: white;
  background-color: rgba(0,0,0,0.8);
  padding: 15px 30px 15px 30px;
  border-radius: 15px;
}

.recBox {
  border: solid;
  border-color: white;
  background-color: rgba(0,0,0,0.9);
  padding: 10px;
  border-radius: 12px;
}

.shop-box {
  border: solid;
  border-color: white;
  background-color: #C2BBF0;
  padding: 10px;
  border-radius: 15px;
}

.loadingBox {
  border: solid;
  border-color: black;
  background-color: #ffffff;
  opacity: 0.6;
  text-align: center;
}

/* responsive styling for various sizes */
@media all and (min-width: 600px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 15px;
  }
  p {
    font-size: 14px;
  }
  form label {
    font-size: 14px;
  }
  form input {
    font-size: 13px;
  }
  button, a, #submit-button {
    font-size: 12px;
    padding: 3px;
  }

  .item {
    flex: 0 45%;
  }
}
@media all and (min-width: 768px) {
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
  form label {
    font-size: 17px;
  }
  form input {
    font-size: 14px;
  }
  button, a, #submit-button {
    font-size: 14px;
    padding: 3px;
  }
} 
@media all and (min-width: 992px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 18px;
  }
  form label {
    font-size: 20px;
  }
  form input {
    font-size: 16px;
  }
  button, a, #submit-button {
    font-size: 17px;
    padding: 5px;
  }

  .item {
    flex: 0 30%;
  }
}
@media all and (min-width: 1200px) {
  h1 {
    font-size: 56px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 20px;
  }
  form label {
    font-size: 24px;
  }
  form input {
    font-size: 18px;
  }
  button, a, #submit-button {
    font-size: 22px;
    padding: 5px;
  }
}