.hidden {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 500px;
  margin: 0 auto;
}

.item {
  margin: 10px 0 10px 0;
  padding: 10px 0 10px 0;
  text-align: center;
  flex: 0 32%;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
header ul li {
  list-style: none;
}

.result-number {
  flex: auto;
}




/* @media all and (min-width: 800px){
  .container {
    /* flex-direction: row; 
    justify-content: space-around;
  }
} */